// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #000000,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  troofal:    #000000,
  yellow:     #fdfd00,
  yellowsec:  #e8e800,
  white:      #ffffff,
  red:        #bf0000,
  blue2:      #004fb7,
  lightred:   #ff0100,
  facebook:   #3b5998,
  instagram:  #e4405f,
  twitter:    #00aced,
  whatsapp:   #25d366,
  sms:        #03e54e,
  blue:       #2a64b0,
  email:      #1ac9fc,
  chessaim:   #21b2a6,
  purple:     #505393,
  golden:     #867400,
  pink:       #ac00fd,
  darkgreen:  #18ab00,
  cadetblue:  #5f9ea0,
  darkblue:   #00008b,
  plainred:   #ff0000,
  plaingreen: #009435
);

$tabs-ios-tab-icon-color: #797979;
$tabs-ios-tab-text-color: #797979;
$tabs-ios-tab-text-color-active: #000000;
$tabs-ios-tab-icon-color-active: #000000;

$tabs-md-tab-icon-color: #797979;
$tabs-md-tab-text-color: #797979;
$tabs-md-tab-text-color-active: #000000;
$tabs-md-tab-icon-color-active: #000000;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

.toolbar-ios{
  margin-top: 8px;
}


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------
$proxima-font-path: $font-path !default;
@font-face {
  font-family: "Lobster";
  font-weight: 500;
  src: local("Lobster"), url("#{$font-path}/lobster-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Lobster-m";
  font-weight: 500;
  src: local("Lobster-m"), url("#{$font-path}/Lobster.otf") format("opentype");
}

@font-face {
  font-family: "Sunspire";
  font-weight: 500;
  src: local("Sunspire"), url("#{$font-path}/sunspire.otf") format("opentype");
}

@font-face {
  font-family: "Ceviche One";
  font-weight: 500;
  src: local("Caviche One"), url("#{$font-path}/CevicheOne-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy-b";
  src: local("Gilroy-b"), url("#{$font-path}/gilroy-extrabold.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("#{$font-path}/gilroy-regular.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy-l";
  src: local("Gilroy-l"), url("#{$font-path}/gilroy-light.otf") format("opentype");
}
//FontAwesome

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$font-path}/fontawesome-webfont.eot?v=4.7.0');
  src: url('#{$font-path}/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('#{$font-path}/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('#{$font-path}/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('#{$font-path}/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('#{$font-path}/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// ****************** font for bubble ******************

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}

.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}

$item-md-detail-push-show: true;
$item-wp-detail-push-show: true;
